@model List<Article>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New York Times Parser</title>
</head>
<body>
    <section style="text-align: center">
        <h1>NYT Articles</h1>
        <h3>Enter a word to generate a list of articles with the word in the title.</h3>
    </section>   
    <div>
        <form asp-controller="Home" style="display: flex; justify-content: center" asp-action="Index" method="post">
            <label for="word">Enter a word: </label><br>
            <input type="text" id="word" name="word"> <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <ul>
        @foreach (var article in Model)
        {
            <p><strong>@article.Title</strong>:@article.Description</p>
        }
    </ul>
</body>
</html>
